# 1.2 Exercise: Create a Search Engine

## By Tinto T. Kurian

## 1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.

In [1]:
# Load library
import numpy as np
import pandas as pd

In [2]:
# Generating 500 random numbers between 1 and 500
# Shape them into 10*50
# load that into a dataframe.


#np.random.randint(1, 501)
#array = np.random.randint(0, 16,15)
array = np.random.randint(1, 501, 500)
#x = array.reshape(3,5)
x = array.reshape(10,50)
df = pd.DataFrame.from_records(x)
#df = pd.DataFrame(array)
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,493,128,484,469,317,481,257,104,212,489,...,116,458,267,291,81,351,265,231,434,482
1,216,270,260,380,223,219,489,461,326,2,...,400,229,20,373,106,410,189,483,404,353
2,391,140,435,478,88,479,341,380,169,398,...,163,499,250,307,133,70,324,266,349,465
3,390,141,285,124,155,410,442,132,321,163,...,208,127,240,453,389,18,324,164,137,31
4,260,42,441,91,352,464,48,73,120,70,...,295,306,391,159,114,78,274,299,428,62
5,131,199,342,245,207,305,390,176,51,394,...,290,30,387,6,347,324,359,92,72,492
6,195,364,119,475,389,359,2,426,393,485,...,52,261,377,91,333,330,235,86,313,211
7,403,422,417,166,107,68,349,362,24,329,...,192,240,85,354,119,334,74,237,312,421
8,91,180,112,468,87,152,233,343,240,199,...,371,251,283,5,239,320,465,209,105,129
9,102,212,378,37,113,411,102,357,454,327,...,87,340,313,230,387,157,68,473,396,357

## 2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

In [3]:
# Sum of each Row
df.sum(axis = 1)

0    14361
1    12454
2    12602
3    11836
4    10087
5    12655
6    14022
7    12487
8    12456
9    13801
dtype: int64

In [4]:
# Sum of each Column
df.sum(axis = 0)

0     2672
1     2098
2     3273
3     2933
4     2038
5     3348
6     2653
7     2814
8     2310
9     2856
10    2896
11    3164
12    3076
13    2799
14    2811
15    2859
16    2520
17    1908
18    2716
19    2151
20    2392
21    2882
22    2623
23    1991
24    2249
25    1969
26    2364
27    1743
28    2522
29    2539
30    2099
31    3233
32    2261
33    2376
34    2301
35    1827
36    2307
37    2660
38    1973
39    3048
40    2174
41    2741
42    2613
43    2269
44    2248
45    2392
46    2577
47    2540
48    2950
49    3003
dtype: int64

In [16]:
# Sum of all entries

#def sumof(x):
#    return x.sum()

k = df.apply(lambda x: x.sum())
k.sum(axis = 0)

126761

In [17]:
# Another way of doing Sum of all entries
df1 = df.sum(axis = 1)
df1.sum(axis = 0)

126761

## 3. Determine the minimum; maximum; average; and standard deviation of all entries.

In [6]:
np.min(x)

1

In [7]:
np.max(x)

500

In [8]:
np.mean(x)

253.522

In [9]:
np.var(x)

23087.677516000003

In [10]:
np.std(x)

151.9462981319387

## 4. Sort the DataFrame: by rows, by columns, on row 2, on column 2

In [11]:
# Sort by Rows on row 2
df.sort_values(by=[1], axis = 1)

,9,16,32,42,34,20,21,39,35,36,...,11,7,23,31,47,26,12,6,37,24
0,489,236,142,267,454,261,352,101,187,312,...,466,104,28,418,231,453,92,257,277,485
1,2,12,13,20,35,40,43,57,62,71,...,461,461,471,478,483,488,488,489,496,500
2,398,76,95,250,128,178,460,456,19,186,...,482,380,77,193,266,13,245,341,57,201
3,163,413,103,240,218,65,476,500,169,203,...,404,132,54,145,164,178,485,442,226,99
4,70,40,257,391,143,332,349,234,482,163,...,118,73,61,76,299,49,370,48,272,314
5,394,327,426,387,77,453,342,457,208,482,...,146,176,276,312,92,130,248,390,183,42
6,485,330,115,377,473,119,8,459,410,468,...,197,426,227,451,86,114,461,2,100,157
7,329,390,370,85,174,162,114,246,30,67,...,258,362,298,391,237,151,139,349,333,166
8,199,445,485,283,158,441,487,43,247,283,...,223,343,105,349,209,422,408,233,262,109
9,327,251,255,313,441,341,251,495,13,72,...,409,357,394,420,473,366,140,102,454,176

In [12]:
# Sort by Column on column 2
df.sort_values(by=[1])

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
4,260,42,441,91,352,464,48,73,120,70,...,295,306,391,159,114,78,274,299,428,62
0,493,128,484,469,317,481,257,104,212,489,...,116,458,267,291,81,351,265,231,434,482
2,391,140,435,478,88,479,341,380,169,398,...,163,499,250,307,133,70,324,266,349,465
3,390,141,285,124,155,410,442,132,321,163,...,208,127,240,453,389,18,324,164,137,31
8,91,180,112,468,87,152,233,343,240,199,...,371,251,283,5,239,320,465,209,105,129
5,131,199,342,245,207,305,390,176,51,394,...,290,30,387,6,347,324,359,92,72,492
9,102,212,378,37,113,411,102,357,454,327,...,87,340,313,230,387,157,68,473,396,357
1,216,270,260,380,223,219,489,461,326,2,...,400,229,20,373,106,410,189,483,404,353
6,195,364,119,475,389,359,2,426,393,485,...,52,261,377,91,333,330,235,86,313,211
7,403,422,417,166,107,68,349,362,24,329,...,192,240,85,354,119,334,74,237,312,421